
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.tree-view-resizer {
  border-right: 1px solid @base-border-color;
}

.tree-view {
  color: @text-color;
  background-color: @tree-view-background-color;

  .list-item.selected {
    color: mix(lighten(@base-background-color, 90%),gray);
  }
  .directory.entry.list-nested-item.selected.collapsed{
    color: mix(lighten(@base-background-color, 90%),gray);
  }
  .directory.entry.list-nested-item.selected.expanded{
    color: mix(lighten(@base-background-color, 90%),gray);
  }
}
